.about-section {
    display: flex;
}

.about-details {
    display: block;
}

.about-profile {
    .about-profile-pic {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/vigneshvasanthportfolio.appspot.com/o/Profile-img%2F0Y9A8121.JPG?alt=media&token=76c07139-91fb-4f89-9d45-11c5a2e0aca5");     
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        padding: 150px;
        border-radius: 50%;
    }
    .my-profile {
        border-radius: 50%;
        margin: 0 auto;
    }
}
.title {
    font-size: 24px;
    font-weight: 900;
    text-decoration: underline;
}

.skills-block {
    .skills {
        display: grid;
        grid-template-columns: auto auto auto auto;
        .skill-list {
            width: 200px;
            height: 200px;
            margin: 40px 20px;
            img {
               
            }
        }
    }
}