@import '../../../src/variables.scss';

.navbar {
    background-color: $background-menu;
    height: 60px;
    padding: 5px 20px;
    z-index: 1;
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    color: #fff;
}

.navbar-brand {
    display: inline-block;
}
.about-list {
    display: flex;
    li {
        padding: 5px 15px;
    }
}