<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="section-block">
      <div class="navbar-brand">
        <a href="">
          <!-- <img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
            height="20"
            alt=""
            loading="lazy"
          /> -->
        </a>
      </div>
  
      <div class="section-right float-right">
        <a href="">Blog</a>
      </div>
    </div>
  </div>
</nav>
