@import '../../../src/variables.scss';

.title {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}
.container-block {
    p {
        padding: 15px 0;
    }
}
.project-block {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    li {
        display: block;
        padding: 20px;
    }
}