<!-- <app-header></app-header>
<app-pokemon-list></app-pokemon-list> -->


<app-header></app-header>
<button (click)="pokemonList()">Pokemon List</button>
<!-- <button (click)="pokemonView()">Pokemon View</button> -->
<button (click)="userDataView()"> User Data LIst</button>
<lib-my-lib></lib-my-lib>
<!-- <app-counter></app-counter>
 --><!-- <app-data-list></app-data-list>
 -->
 <app-side-nav></app-side-nav>
<!--  <app-top-navigation></app-top-navigation>
 <app-profile-info></app-profile-info> -->
 <router-outlet></router-outlet>
<!-- 
 <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>
  <p class="text-secondary-color">This is my secondary color</p>
  <button
  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
>
  Hello
</button> -->
