<app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>

<div class="container-block" *ngIf="!pageLoading">
  <div class="project-details">
    <ul class="project-block">
      <li *ngFor="let vbmsData of vbmsDetails">
        <h2 class="title">{{ vbmsData.title }}</h2>
        <div class="project-img">
          <img [src]="vbmsData.src" alt="" />
        </div>
        <div class="project-description">
          <p>{{ vbmsData.description }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
