<div class="container-block">
    <p>
      Vignesh Vasanth C, a seasoned software engineer with 6 years of experience,
      specializing in front-end development using popular frameworks such as
      Angular, HTML, CSS, JavaScript, Bootstrap, and TypeScript. He is a master at
      creating seamless user interfaces and developing web applications that cater
      to client needs.</p>
      <p>Vignesh has a keen eye for detail and is passionate about
      delivering quality products that exceed client expectations. His strong
      communication skills have helped him work effectively in cross-functional
      teams, ensuring smooth project delivery. When he's not coding, Vignesh enjoys
      hiking and exploring nature, listening to music, and trying out new cuisines.
      Connect with Vignesh to build amazing web applications that elevate your
      business!
    </p>
    
    
    <div class="about-block">
        <div class="about-header">
            <p class="paragraph">ABOUT</p>
            <h2 class="title">Who is Vignesh Vasanth ?</h2>
        </div>
        <section class="about-details">
            <div class="about-left">
                <img src="https://firebasestorage.googleapis.com/v0/b/vigneshvasanthportfolio.appspot.com/o/Profile-img%2FProfile-Male-PNG.png?alt=media&token=87d3b75e-71bc-4830-a919-3d8044ab03eb" alt="">
            </div>
            <div class="about-right">
                <p class="about-paragrpah">
                    As a software engineer with 6 years of experience in front-end development, you possess a strong skill set in various tools and technologies such as Angular, HTML, CSS, Bootstrap, JavaScript, and TypeScript.
                </p>
                <p class="about-paragrpah">
                    With your knowledge of Angular, you can create complex web applications that are highly interactive and responsive. Angular is a popular front-end framework that uses a declarative approach to building user interfaces, which makes it easier to write clean and maintainable code.
                </p>
                <p class="about-paragrpah">
                    Your proficiency in HTML and CSS allows you to design and style web pages with ease, making them visually appealing and accessible. Bootstrap, a popular CSS framework, helps you to create responsive web designs that are compatible with different screen sizes and devices.
                </p>
                <p class="about-paragrpah">
                    Your expertise in JavaScript and TypeScript enables you to write powerful and efficient client-side scripts that can manipulate the Document Object Model (DOM) and provide interactivity to web pages. TypeScript, a superset of JavaScript, adds features such as static typing and class-based object-oriented programming, making it easier to write scalable and maintainable code.
                </p>
                <p class="about-paragrpah">
                    Overall, your skills and experience as a front-end developer make you a valuable asset to any software development team.
                </p>
            </div>
            <a href="" class="get-in-touch">Get In Touch</a>
        </section>
    </div>
</div>
